.search-box {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	width: 100%;
	color: var(--text);
	position: relative;
	margin-bottom: 24px;

	&.dropdown {
		margin: 0;
	}

	.dropdown-menu {
		left: 70% !important;
		right: 22px !important;
		top: 40px !important;
	}

	.params-group {
		flex-grow: 1;

		.input-group {
			display: flex;
			align-items: stretch;
			width: 100%;
			height: 40px;

			.label {
				min-width: 100px;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px solid var(--color-4);
				border-bottom-width: 0;
				background-color: var(--color-1);
			}

		 	input {
				font-family: 'Source Code Pro',monospace;
				color: var(--text);
				flex-grow: 1;
				border: 0;
				border-top: 1px solid var(--color-4);
				background-color: var(--color-3);
				padding-left: 10px;

				&:focus {
					outline: none;
				}
			}

			.close {
				padding: 9px;
				background: var(--color-4);
				opacity: 1;
				text-shadow: none;
				color: var(--text);

				&:hover {
					opacity: 0.85;
				}
			}

			&:last-child input {
				border-top: 1px solid var(--color-4);
			}

			&:last-child input {
				border-bottom: 1px solid var(--color-4);
			}

			&:first-child .label {
				border-top-left-radius: 5px;
			}

			&:last-child .label {
				border-bottom-left-radius: 5px;
				border-bottom-width: 1px;
			}
		}
	}

	.add-param, .confirm-search {
    color: var(--text);
		width: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		background-color: var(--color-1);
  }

  .add-param:hover, .confirm-search:hover {
    color: var(--text-darker);
  }

	.add-param {
		border-radius: 0;
		font-size: 2em;
		line-height: 0.8em;
		border: 1px solid var(--color-4);
		border-right: 0;
	}

	.confirm-search {
		border-radius: 0 5px 5px 0;
		border: 1px solid var(--color-4);
	}
}
