@import '../../../sass/variables';

:host {
	width: 100%;
	
	border: 1px solid $color3;
	border-radius: 5px;
	
	position: relative;
	margin-bottom: 24px;
	
	.panel-title {
		background-color: $panel-title;
		color: $text-light;
		border-radius: 4px 4px 0 0;
		padding: 15px 22px;
		font-size: 18px;
		text-transform: uppercase;
	}
	
	.panel-body {
		background-color: $panel-body;
		border-radius: 0 0 4px 4px;
		padding: 22px;
		
		&.full-width {
			padding: 0;
		}
	}
}