:host {
	display: block;
	width: 100%;
	min-width: 500px;

	border: 1px solid var(--color-3);
	border-radius: 5px;

	position: relative;
	margin-bottom: 24px;

	&[border=false] {
		border: 0;
	}

	.panel-title {
		background-color: var(--panel-title);
		color: var(--text);
		border-radius: 4px 4px 0 0;
		padding: 12px 22px;
		font-size: 18px;
		text-transform: uppercase;
	}

	.panel-body {
		background-color: var(--panel-body);
		border-radius: 0 0 4px 4px;
		color: var(--text);

		overflow-x: auto;

		&.no-title {
			border-radius: 4px;
		}
	}
}
