:root {
	--color-1: rgb(28, 36, 48);
	--color-2: rgb(41, 49, 65);
	--color-3: rgb(51, 61, 77);
	
	--background-color: var(--color-1);
	--panel-title:      var(--color-2);
	--panel-body:       var(--color-2);
	
	--text: rgb(224, 224, 224);
	--text-darker: rgb(146, 146, 146);
	--text-ligher: white;
	--link: #c8e3ff;
}