.theme-light {
	--color-1: hsl(228, 26%, 90%);
	--color-2: hsl(232, 23%, 84%);
	--color-3: hsl(229, 20%, 80%);
	--color-4: hsl(232, 20%, 75%);
	
	--background-color: var(--color-1);
	--panel-title:      var(--color-2);
	--panel-body:       var(--color-2);
	
	--text:           hsl(0, 0%, 12%);
	--text-darker:    hsl(0, 0%, 43%);
	--text-lighter:   hsl(0, 0%, 100%);
	--link:           hsl(211, 100%, 89%);
	
	--error:          hsl(0, 78%, 28%);
	
	// Genghis colors
	// --code-namespace: black;
	// --code-boolean:   #0086b3;
	// --code-null:      #0086b3;
	// --code-numbers:   #40A070;
	// --code-string:    #DD1144;
	// --code-links:     #0058E1;
	// --code-summary:   grey;
	// --code-regexp:    #009926;
	// --code-function:  var(--text);
	
	--code-namespace: #001080;
	--code-boolean:   #0000ff;
	--code-null:      #0000ff;
	--code-numbers:   #09885a;
	--code-string:    #a31515;
	--code-links:     #4e94ce;
	--code-summary:   #008000;
	--code-regexp:    #811f3f;
	--code-function:  var(--text);
}