.pretty-json {
	font-family: 'Source Code Pro',monospace;
	position: relative;
	white-space: pre;
	
	.null {
		color: var(--code-null);
	}
	.boolean {
		color: var(--code-boolean);
	}
	
	.number {
		color: var(--code-numbers);
	}
	
	.quoted {
		color: var(--code-string);
		
		.string {
			color: var(--code-string);
			a:link, a:visited {
				color: var(--code-string);
				text-decoration: underline;
			}
			a:hover, a:active {
				color: var(--code-links);
			}
		}
	}
	
	.regexp {
		color: var(--code-regexp);
	}
	
	.function {
		color: var(--code-function);
	}
	
	var {
		color: var(--code-namespace);
		font-style: normal;
	}
	
	.prop {
		position: relative;
		
		.e {
			display: none;
			cursor: pointer;
			
			.summary, q {
				color: var(--code-summary);
				font-style: italic;
			}
		}
	
		.collapser, button {
			display: block;
			cursor: pointer;
			position: absolute;
			height: 16px;
			width: 16px;
			left: -20px;
			top: 2px;
			padding: 0;
			font-size: 0;
			line-height: 0;
			color: transparent;
			overflow: hidden;
			
			&:after {
				display: block;
				position: absolute;
				left: 4px;
				top: 6px;
				height: 0;
				width: 0;
				content: ' ';
				
				border: 4px solid transparent;
				border-top-color: var(--text);
			}
			&:hover:after, &:active:after {
				border-top-color: var(--text);
			}
		}
		
		button {
			border: none;
			background-color: transparent;
		}
		
		&.collapsed {
			button {
				&:after {
					left: 6px;
					top:  4px;

					border-top-color: transparent;
					border-left-color: var(--text)
				}
				&:hover:after, &:active:after {
					border-top-color: transparent;
					border-left-color: var(--text);
				}
			}
			.e {
				display: inline;
			}
			.collapser,
			.c {
				&:after {
					top:  4px;

					border-top-color:  transparent;
					border-left-color: var(--text);
				}
				&:hover, &:active {
					&:after {
						border-top-color:  transparent;
						border-left-color: var(--text);
					}
				}
			}

			> .value {
				height: 0px;
				width: 0px;
				overflow: hidden;
				display: inline-block;
				visibility: hidden;
			}
		}
	}
}