// Themes
@import 'sass/themes/dark-default';
@import 'sass/themes/light';

// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Cuprum|Rajdhani');

// Code Mirror
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/theme/neo.css";


body {
	background-color: var(--background-color);
	font-family: 'Rajdhani', sans-serif;
}


nav.navbar {
	border-bottom: 1px solid var(--color-3);
}

.navbar-brand {
	font-size: 25px;
}

.bg-dark {
	background-color: var(--color-2) !important;
}

.table {
	thead th {
		border-bottom: none;
	}
	
	th,td {
		border-color: var(--color-3);
	}
}

a, pre {
	color: var(--text);
}

a:hover {
	color: var(--text);
}

.center {
	text-align: center;
}