// Bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

// Themes
@import 'sass/themes/dark-default';
@import 'sass/themes/light';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Cuprum|Rajdhani');

// Code Mirror
@import "~codemirror/lib/codemirror.css";
// Our theme
@import 'sass/themes/codemirror';


body {
	background-color: var(--background-color);
	font-family: 'Rajdhani', sans-serif;
}


nav.navbar {
	border-bottom: 1px solid var(--color-3);
}

.navbar-brand {
	font-size: 25px;
}

.bg-dark {
	background-color: var(--color-2) !important;
}

.table {
	thead th {
		border-bottom: none;
	}
	
	th,td {
		border-color: var(--color-3);
	}
}

a, pre {
	color: var(--text);
}

a:hover {
	color: var(--text);
}

.center {
	text-align: center;
}

.btn.btn-default {
	background-color: var(--color-1);
	color: var(--text);
	border-color: var(--color-4);
}

.btn.btn-outline-danger {
	color:        var(--button-danger);
	border-color: var(--button-danger);
	
	&:hover {
		background-color: var(--button-danger-l);
		color: var(--text-lighter);
	}
}

.btn.btn-outline-success {
	color:        var(--button-success);
	border-color: var(--button-success);
	
	&:hover {
		background-color: var(--button-success-l);
		color: var(--text-lighter);
	}
}

.btn.btn-outline-light {
	color:        var(--button-light);
	border-color: var(--button-light);
	
	// &:hover {
	// 	color: var(--text-darker);
	// }
	&:hover {
		background-color: var(--button-light);
		color: var(--text-inverse);
	}
}