.row.explore-component {
  h1.loading {
    margin: 0;
  }

  .loading {
    padding: 10px;
  }

  .infos {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .summary {
    font-size: 1.3em;
    color: var(--text);
    margin-top: 5px;
  }

  .actions {
    & > .btn {
      margin-left: 10px;
    }
  }
}
