.row.explore-component {
	h1.loading {
		margin: 0;
	}

	.summary {
		float: left;
		font-size:  1.3em;
		color: var(--text);
		margin-top: 5px;
	}

	.actions {
		float: right;
		
		& > .btn {
			margin-left: 10px;
		}
	}
}