.notifications-manager {
	position: absolute;
	top: 80px;
	right: 10px;
	max-width: 500px;
	z-index: 10;
	
	.notification {
		position: relative;
		padding: 10px 30px;
		margin-bottom: 10px;
		word-wrap: break-word;;
		opacity: 0;
		transition: opacity linear .2s;
		
		background: var(--color-1);
		border: 1px solid var(--color-3);
		border-radius: 5px;
		
		color: var(--text-lighter);
	}
	
	.notification.error {
		background: var(--error);
	}
	
	.notification.show {
		opacity: 1;
	}
	
	.close {
		color: var(--text-lighter);
		text-shadow: none;
		position: absolute;
		top: 0;
		right: 5px;
	}
}