.navbar .breadcrumb {
	margin-bottom: 0;
	
	a {
		text-decoration: none;
		color: var(--text);
	}
	
	.breadcrumb-item.active {
		color: var(--text-darker);
	}
}

.container-fluid .content {
	padding-top: 50px;
}