.navbar .breadcrumb {
	margin-bottom: 0;
	
	a {
		text-decoration: none;
		color: var(--text);
	}
	
	.breadcrumb-item.active {
		color: var(--text-darker);
	}
}

.navbar-brand {
	color: var(--text);
	
	&:hover {
		color: var(--text-lighter);
	}
}

.container-fluid .content {
	padding-top: 25px;
	padding-bottom: 150px;
}
