<div class="row collections-component">
  <panel>
    <div class="title">{{ database }} Collections</div>
    <table class="table table-hover">
      <thead>
        <th>name</th>
        <th>documents</th>
        <th>indexes</th>
        <th>size</th>
      </thead>
      <tbody>
        <tr *ngFor="let collection of collections">
          <td><a routerLink="/servers/{{ server }}/databases/{{ database }}/collections/{{ collection.name }}">{{ collection.name }}</a></td>
          <td>{{ collection.count | number }}</td>
          <td>
            <span class="dotted"
                  [ngbPopover]="popIndexes"
                  placement="auto right"
                  triggers="manual"
                  #p1="ngbPopover"
                  (mouseenter)="toggleIndexes(p1, collection)"
                  (mouseleave)="toggle(p1)"
            >{{ collection.nIndexes }}</span>
          </td>
          <td>
            <span class="dotted"
                  [ngbPopover]="popStats"
                  placement="auto right"
                  triggers="manual"
                  #p2="ngbPopover"
                  (mouseenter)="toggleStats(p2, collection)"
                  (mouseleave)="toggle(p2)"
            >{{ collection.size | bytes }}</span>
          </td>
        </tr>
        <tr *ngIf="collections.length == 0 && !loading">
          <td colspan="4">
            <div class="center">No collections...</div>
          </td>
        </tr>
        <tr *ngIf="loading">
          <td colspan="4">
            <div class="center">Loading...</div>
          </td>
        </tr>
      </tbody>
    </table>
  </panel>

  <ng-template #popIndexes let-indexes="indexes" let-clipped="clipped">
    <table class="sm">
      <thead>
        <th>Index</th>
        <th>Size</th>
      </thead>
      <tbody>
        <tr *ngFor="let index of indexes">
          <td>{{ index.name | json }}</td>
          <td>{{ index.size | bytes }}</td>
        </tr>
        <tr *ngIf="clipped">
          <td colspan=2>{{ clipped }} more items...</td>
        </tr>
      </tbody>
    </table>
  </ng-template>

  <ng-template #popStats let-stats="stats">
    <table class="sm">
      <tbody>
        <tr>
          <td>Average obj. size</td>
          <td>{{ stats.avgObjSize | bytes }}</td>
        </tr>
        <tr>
          <td>Data size</td>
          <td>{{ stats.dataSize | bytes }}</td>
        </tr>
        <tr>
          <td>Storage size</td>
          <td>{{ stats.storageSize | bytes }}</td>
        </tr>
        <tr>
          <td>Index size</td>
          <td>{{ stats.totalIndexSize | bytes }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
