<div class="row collections-component">
  <panel title="{{ database }} Collections">
    <table class="table table-striped table-dark">
      <thead>
        <th>name</th>
        <th>documents</th>
        <th>indexes</th>
        <th>size</th>
      </thead>
      <tbody>
        <tr *ngFor="let collection of collections">
          <td><a routerLink="/servers/{{ server }}/databases/{{ database }}/collections/{{ collection.name }}">{{ collection.name }}</a></td>
          <td>{{ collection.count | number }}</td>
          <td>{{ collection.nIndexes }}</td>
          <td>{{ collection.size | bytes }}</td>
        </tr>
      </tbody>
    </table>
  </panel>
</div>